/* ==============CSS for News Ticker======================*/
.news_feed {
	height: 29px;
	background: #fff;
}
.newsfeed_label {
	float: left;
	font-size: 16px;
	padding: 5px 10px;
	color: #fff;
	background: #e74c3c;
}
#ticker01 {
	float: left;
}
.tickercontainer .mask {
	width: 100% !important;
}
/* ==============CSS for News Ticker======================*/




/*=======news_ticker.css==============*/

/* liScroll styles */

.tickercontainer { /* the outer div with the black border */
// border: 1px solid #000;
	background: #48335D;
//max-width: 538px;
	height: 40px;
	margin: 0;
	padding: 0;
	color: #FFF !important;
	overflow: hidden;
}
.tickercontainer .mask { /* that serves as a mask. so you get a sort of padding both left and right */
	position: relative;
	left: 10px;
	top: 8px;
	width: 100%;
	overflow: hidden;
}
ul.newsticker { /* that's your list */
	position: relative;
	left: 550px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.newsticker li {
	float: left; /* important: display inline gives incorrect results when you check for elem's width */
	margin: 0;
	padding: 0;
	background: #48335D;
	color: #FFF !important;
}
ul.newsticker a {
	white-space: nowrap;
	padding: 0;
	color: #FFF;
	margin: 0 5px 0 0;
}
ul.newsticker span {
	margin: 0 10px 0 0;
} 

/*=======news_ticker.css==============*/
